<head>
    {% include "head.html" %}
</head>
<body>
    <div class="navbar">
        <div style="float: left;" class="navbar-el">{{ user or  "" }}</div>
        <a href="/oauth2/sign_out" class="navbar-el">Logout</a>
    </div>
    <div class="main-container">
        {% for category, tiles in categories.items() %}
            <div class="seperator">
            <h3 style="margin-left: 15px;">{{ category.title() }}</h3>
            <hr>
            </div>
            {% for k,v in tiles.items() %}
            <a href="{{ v['href'] }}">
                <div class="tile"
                    {% if v.get('background') %}
                    style="background: {{ v['background'] }};"
                    {% else %}
                    style="background: linear-gradient(90deg, {{ v['gradient-left'] }} 20%, {{ v['gradient-right'] }} 65%);"
                    {% endif %}
                    >

                    <img height=65 src="{{ v['icon'] }}"
                             style="max-width: 465px" class="tile-image">
                    </img>
                    <b class="tile-name">{{ v["name"] }}</b>
                    {% if v["auth-type"] == "sso" %}
                    <div class="auth-type">SSO</div>
                    {% elif v["auth-type"] == "ldap" %}
                    <div class="auth-type">LDAP</div>
                    {% elif v["auth-type"] == "extern" %}
                    <div class="auth-type">EXTERN</div>
                    {% endif %}
                </div>
            </a>
            {% endfor %}
        {% endfor %}
    </div>
    <div style="width: 30%" class="stats-footer">
            {{ flask.request.headers }}
    </div>
</body>
