<head>
    {% include "head.html" %}
</head>
<body>
    <div class="navbar">
        <div style="float: left;" class="navbar-el">{{ user or  "" }}</div>
        <a href="/oauth2/sign_out" class="navbar-el">Logout</a>
    </div>
    <div class="main-container">
        {% for service_name, service in services.items() %}
            <div class="seperator">
            <h3 style="margin-left: 15px;">{{ services.name }}</h3>
            <hr>
            </div>
            {% for hook in service.hook_operations %}
                {% if hook.client %}
                    <button onclick="query_{{ hook.name }}()">{{ hook.name }}</button>
                    <script>
                        async function query_{{ hook.name }}(){

                            {% if hook.location.multi_url %}
                            urls = [ {% for h_url in hook.location.url %}
                                        "{{ h_url | safe }}" + "?" + new URLSearchParams({{ hook.location.args | safe }}),
                                     {% endfor %}
                            ]
                            {% else %}
                            urls = ["{{ hook.location.url | safe }}" + "?" + new URLSearchParams({{ hook.location.args | safe }})]
                            {% endif %}

                            urls.forEach( async (url) => {
                                    let response = await fetch(url)
                                }
                            )
                        }
                    </script>
                {% else %}
                    <button onclick="query_{{ hook.name }}()">{{ hook.name }}</button>
                    <script>
                        async function query_{{ hook.name }}(){
                            let url = "/hook-relay?service={{ service.clean_name() }}&operation={{ hook.name }}"
                            let response = await fetch(url, { 
                                method: "POST",
                                headers: {
                                    "Content-Type": "application/json",
                                },
                                body: JSON.stringify({}),
                            })
                            // let data = await response.json();
                        }
                    </script>
                {% endif %}
            {% endfor %}
            <div>
                {{ service.info_operations.get_info() | safe }}
            </div>
        {% endfor %}
    </div>
</body>
