{% include "head.html" %}
<body>
    <div class="navbar">
        <div style="float: left;" class="navbar-el">{{ user or  "" }}</div>
        <!--        <a href="/oauth2/sign_out" class="navbar-el">Logout</a> -->
    </div>
    <div class="main-container">
        {% for service_name, service in services.items() %}
            <h3 class="action-title mt-4">{{ service_name }}</h3>
            <div class="seperator">
            <hr>
            </div>
            {% for hook in service.hook_operations %}
                {% if hook.client %}
                    <div class="m-3 action-container">
                        <div class="row">
                            <button onclick="query_{{ service.clean_name() }}_{{ hook.name }}()" class="btn btn-primary col-4">
					        	{{ hook.name.replace("_", " ") }}
					        </button>
                            <div id="status-target-{{ hook.name }}" class="pt-2 col-6 status-target">

                            </div>
                        </div>
                        <script>
                            async function query_{{ service.clean_name() }}_{{ hook.name }}(){

                                {% if hook.location.multi_url %}
                                urls = [ {% for h_url in hook.location.url %}
                                            "{{ h_url | safe }}" + "?" + new URLSearchParams({{ hook.location.args_f() | safe }}),
                                         {% endfor %}
                                ]
                                {% else %}
                                urls = ["{{ hook.location.url | safe }}" + "?" + new URLSearchParams({{ hook.location.args_f() | safe }})]
                                {% endif %}

                                urls.forEach( async (url) => {
                                        let response = await fetch(url)
                                    }
                                )

                                event.srcElement.disabled = true
                            }
                            {% if hook.status_url %}
                            async function status_update_{{ service.clean_name() }}_{{ hook.name }}(){
                                let url = "{{ hook.status_url }}"
                                let response = await fetch(url)
                                let text = await response.text()
                                let target = document.getElementById("status-target-{{ hook.name }}")
                                target.innerHTML = text
                            }
                            status_update_{{ service.clean_name() }}_{{ hook.name }}()
                            setInterval(status_update_{{ service.clean_name() }}_{{ hook.name }}, 5000)
                            {% endif %}
                        </script>
                    </div>
                {% else %}
                    <div class="m-3 action-container">
                        <div class="row">
                            <button onclick="query_{{ service.clean_name() }}_{{ hook.name }}()" class="btn btn-primary col-4">
						    	{{ hook.name.replace("_", " ") }}
						    </button>
                            <div id="status-target-{{ hook.name }}" class="pt-2 col-6 status-target">
                        </div>

                        </div>
                        <script>
                            async function query_{{ service.clean_name() }}_{{ hook.name }}(){
                                let url = "/hook-relay?service={{ service.clean_name() }}&operation={{ hook.name }}"
                                let response = await fetch(url, { 
                                    method: "POST",
                                    headers: {
                                        "Content-Type": "application/json",
                                    },
                                    body: JSON.stringify({}),
                                })
                                // let data = await response.json();
                                status_update_{{ service.clean_name() }}_{{ hook.name }}()
                                event.srcElement.disabled = true
                            }
                            async function status_update_{{ service.clean_name() }}_{{ hook.name }}(){
                                let url = "/endpoints?service={{ service.clean_name() }}&endpoint={{ hook.name }}"
                                let response = await fetch(url)
                                let data = await response.json();
                                let target = document.getElementById("status-target-{{ hook.name }}")
                                if(!data.title){
                                    target.innerHTML = "No status info available"
                                }else{
                                    target.innerHTML = data.title + " " + data.message
                                }
                            }
                            status_update_{{ service.clean_name() }}_{{ hook.name }}()
                            setInterval(status_update_{{ service.clean_name() }}_{{ hook.name }}, 5000)
                        </script>
                    </div>
                {% endif %}
            {% endfor %}
            <div>
            </div>
        {% endfor %}
    </div>
</body>
